.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;

  .main-content {
    box-sizing: border-box;
    overflow-y: auto;
    height: 100vh !important;
  }

  @media (min-width: 769px) {
    .main-content {
      margin-left: 300px;
    }
  }

  // Tablets and smaller screens
  @media (max-width: 768px) {
    flex-direction: column;
    .main-content {
      padding: 0px;
    }
  }

  // Mobile screens
  @media (max-width: 480px) {
    .main-content {
      padding: 0px;
    }
  }
}
